.titleDesc{
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
h3{
    color: #fff;
}
.detalhes{
    max-width: 70%;
    margin: auto;
}

.imgDetalhes{
    max-width: 50%;
    margin: auto;
}
.imgDetalhes img{
    width: 100%;
}
