#navbar{
    background-color: #1a237e;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 60px;
}
#navbar a {
    color: #fff;
}
.container{
    max-width: calc(100% - 50px);
    margin: auto;
    text-align: center;
}
.container h2{
    color: #ffff;
    font-size: 50px;
    padding: 25px 0;
}
.filmes-container{
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: #333333;
    border-radius: 10px;
  

}
.filmes-container a{
    max-width: 25%;
}

.filme-card{
   
    max-width: 100%;
    
    margin:20px;

    padding: 20px;
    transform: scale(1);

    transition: box-shadow 1s;
    transition: .6s;
}
.filme-card:hover{

    transform: scale(1.05);
   
    box-shadow: 0px 0px 80px rgba(0, 72, 255, 0.526);

    border-radius: 10px;
} 
.filme-card h1{
    height: 10vh;
    font-size: 4vh;
    text-align: center;
}
.filme-card{
    color: #ffff;

}
.filme-card:hover{
    color: #ffff;

}

.poster{
    max-width: 100%;
}
.poster img{
    width: 100%;
    border-radius: 10px; 
}

